<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:flow="http://www.springframework.org/schema/webflow-config"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<aop:aspectj-autoproxy />
	<context:annotation-config />
	<context:component-scan base-package="com.ibm.asset.trails" />

	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>classpath*:tiles*.xml</value>
			</list>
		</property>
		<property name="preparerFactoryClass"
			value="org.springframework.web.servlet.view.tiles2.SpringBeanPreparerFactory" />
	</bean>

	<bean class="com.ibm.tap.trails.framework.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>
					file:/opt/trails/conf/hibernate.properties
				</value>
				<value>file:/opt/trails/conf/trails.properties
				</value>
				<value>
					file:/opt/trails/conf/hibernateDST1185.properties
				</value>
				<value>file:/opt/trails/conf/trailsDST1185.properties
				</value>
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="navigationPreparer" class="com.ibm.tap.trails.navigation.NavigationPreparer" />
	<bean id="v17eNavigationPreparer" class="com.ibm.tap.trails.navigation.V17eNavigationPreparer" />
	<bean id="searchService" class="com.ibm.asset.trails.service.impl.SearchServiceImpl" />

	<bean id="accountService" class="com.ibm.asset.trails.service.impl.AccountServiceImpl" />

	<bean id="alertExpiredScanService"
		class="com.ibm.asset.trails.service.impl.AlertExpiredScanServiceImpl" />

	<bean id="alertExpiredMaintService"
		class="com.ibm.asset.trails.service.impl.AlertExpiredMaintServiceImpl" />
	
	<bean id="alertHardwareCfgDataService"
		class="com.ibm.asset.trails.service.impl.AlertHardwareCfgDataServiceImpl" />
	
	<bean id="alertWithDefinedContractScopeService"
		class="com.ibm.asset.trails.service.impl.AlertWithDefinedContractScopeServiceImpl" />	
	
	<bean id="alertIbmSwInstancesReviewedService"
		class="com.ibm.asset.trails.service.impl.AlertIbmSwInstancesReviewedServiceImpl" />
		
	<bean id="alertPriorityIsvSwInstancesReviewedService"
		class="com.ibm.asset.trails.service.impl.AlertPriorityIsvSwInstancesReviewedServiceImpl" />
		
	<bean id="alertIsvSwInstancesReviewedService"
		class="com.ibm.asset.trails.service.impl.AlertIsvSwInstancesReviewedServiceImpl" />	

	<bean id="alertHardwareService"
		class="com.ibm.asset.trails.service.impl.AlertHardwareServiceImpl" />

	<bean id="alertHardwareLparService"
		class="com.ibm.asset.trails.service.impl.AlertHardwareLparServiceImpl" />

	<bean id="alertSoftwareLparService"
		class="com.ibm.asset.trails.service.impl.AlertSoftwareLparServiceImpl" />

	<bean id="alertUnlicensedIbmSwService"
		class="com.ibm.asset.trails.service.impl.AlertUnlicensedIbmSwServiceImpl" />

	<bean id="alertUnlicensedIsvSwService"
		class="com.ibm.asset.trails.service.impl.AlertUnlicensedIsvSwServiceImpl" />

	<bean id="reconService" class="com.ibm.asset.trails.service.impl.ReconServiceImpl" />

	<bean id="reconWorkspaceService"
		class="com.ibm.asset.trails.service.impl.ReconWorkspaceServiceImpl">
		<property name="reconRules">
			<list>
				<bean class="com.ibm.ea.common.reconcile.MipMsuReconRule" />
				<bean class="com.ibm.ea.common.reconcile.HardwareIflReconRule" />
				<bean class="com.ibm.ea.common.reconcile.PvuReconRule" />
			</list>
		</property>
	</bean>

	<bean id="licenseService" class="com.ibm.asset.trails.service.impl.LicenseServiceImpl" />

	<bean id="reconAjaxAction" class="com.ibm.asset.trails.action.ReconAjaxAction">
		<property name="licenseService" ref="licenseService" />
	</bean>

	<bean id="ScheduleFAjaxAction" class="com.ibm.asset.trails.action.ScheduleFAjaxAction">
		<property name="scheduleFService" ref="scheduleFServiceImpl" />
	    <property name="manufacturerService" ref="manufacturerServiceImpl" />
	</bean>

	<bean id="nonInstanceAjaxAction" class="com.ibm.asset.trails.action.NonInstanceAjaxAction">
		<property name="nonInstanceService" ref="nonInstanceServiceImpl" />
	</bean>

	<bean id="nonInstancebasedSWAction" class="com.ibm.asset.trails.action.NonInstancebasedSWAction">
		<property name="nonInstanceService" ref="nonInstanceServiceImpl" />
	</bean>


	<bean id="manufacturerServiceImpl"
		class="com.ibm.asset.trails.service.impl.ManufacturerServiceImpl" />
	<bean id="priorityISVAction" class="com.ibm.asset.trails.action.PriorityISVAction">
		<property name="manufacturerService" ref="manufacturerServiceImpl" />
	</bean>

	<bean id="dbdeterminativeService"
		class="com.ibm.asset.trails.service.impl.DatabaseDeterminativeServiceImpl">
		<property name="gapseconds">
			<value>${sync.gap.seconds}</value>
		</property>
	</bean>

	<bean id="reportService" class="com.ibm.asset.trails.service.impl.ReportServiceImpl">
		<constructor-arg>
			<ref bean="dbdeterminativeService" />
		</constructor-arg>
	</bean>

	<bean id="pvuService" class="com.ibm.asset.trails.service.impl.PvuServiceImpl" />

	<bean id="alertCauseService"
		class="com.ibm.asset.trails.service.impl.DataExceptionCauseServiceImpl">
		<property name="alertCauseDao" ref="alertCauseDao" />
	</bean>

	<bean id="alertTypeService"
		class="com.ibm.asset.trails.service.impl.DataExceptionTypeServiceImpl">
	</bean>

	<bean id="alertCauseResponsibilityService"
		class="com.ibm.asset.trails.service.impl.AlertCauseResponsibilityServiceImpl" />

	<bean id="alertTypeCauseService"
		class="com.ibm.asset.trails.service.impl.AlertTypeCauseServiceImpl" />

	<bean id="entityManagerFactory1"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource1" />
		<property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter1" />
		<property name="persistenceUnitName" value="trailspd" />
	</bean>

	<bean id="entityManagerFactory2"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource2" />
		<property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter2" />
		<property name="persistenceUnitName" value="trailsst" />
	</bean>

	<bean id="hibernateJpaVendorAdapter1"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="database" value="${pd.database}" />
		<property name="showSql" value="${pd.showSql}" />
		<property name="databasePlatform" value="com.ibm.asset.trails.domain.DB2Dialect" />
	</bean>

	<bean id="hibernateJpaVendorAdapter2"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="database" value="${st.database}" />
		<property name="showSql" value="${st.showSql}" />
		<property name="databasePlatform" value="com.ibm.asset.trails.domain.DB2Dialect" />
	</bean>

	<bean id="dataSource1" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="user" value="${pd.username}" />
		<property name="password" value="${pd.password}" />
		<property name="driverClass" value="${pd.driverClassName}" />
		<property name="jdbcUrl" value="${pd.url}" />
		<property name="initialPoolSize" value="10" />
		<property name="minPoolSize" value="10" />
		<property name="maxPoolSize" value="100" />
		<property name="acquireIncrement" value="5" />
		<property name="maxStatements" value="50" />
		<property name="idleConnectionTestPeriod" value="300" />
		<property name="acquireRetryAttempts" value="3" />
		<property name="acquireRetryDelay" value="500" />
	</bean>

	<bean id="dataSource2" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="user" value="${st.username}" />
		<property name="password" value="${st.password}" />
		<property name="driverClass" value="${st.driverClassName}" />
		<property name="jdbcUrl" value="${st.url}" />
		<property name="initialPoolSize" value="10" />
		<property name="minPoolSize" value="10" />
		<property name="maxPoolSize" value="100" />
		<property name="acquireIncrement" value="5" />
		<property name="maxStatements" value="50" />
		<property name="idleConnectionTestPeriod" value="300" />
		<property name="acquireRetryAttempts" value="3" />
		<property name="acquireRetryDelay" value="500" />
	</bean>

	<bean id="transactionManager1" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory1" />
		<qualifier value="trailspd" />
	</bean>
	<bean id="transactionManager2" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory2" />
		<qualifier value="trailsst" />
	</bean>

	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<tx:annotation-driven transaction-manager="transactionManager1" />
	<tx:annotation-driven transaction-manager="transactionManager2" />

	<bean id="searchAccountAction" scope="prototype"
		class="com.ibm.asset.trails.action.SearchAccountAction">
		<property name="searchService" ref="searchService" />
		<property name="cndbServerName">
			<value>${server.name.cndb}</value>
		</property>
		<property name="trailsServerName">
			<value>${server.name.trails}</value>
		</property>
	</bean>

	<bean id="accountAction" scope="prototype"
		class="com.ibm.asset.trails.action.AccountAction">
		<property name="accountService" ref="accountService" />
		<property name="cndbServerName">
			<value>${server.name.cndb}</value>
		</property>
		<property name="trailsServerName">
			<value>${server.name.trails}</value>
		</property>
	</bean>

	<bean id="accountAlertAction" scope="prototype"
		class="com.ibm.asset.trails.action.AccountAlertAction">
		<property name="accountService" ref="accountService" />
		<property name="trailsServerName">
			<value>${server.name.trails}</value>
		</property>
		<property name="bravoServerName">
			<value>${server.name.bravo}</value>
		</property>
	</bean>

	<bean id="alertAction" scope="prototype"
		class="com.ibm.asset.trails.action.AlertAction">
		<property name="accountService" ref="accountService" />
		<property name="trailsFileServerName">
			<value>${server.name.trails.file}</value>
		</property>
		<property name="trailsServerName">
			<value>${server.name.trails}</value>
		</property>
	</bean>

	<bean id="operationalAction" scope="prototype"
		class="com.ibm.asset.trails.action.OperationalAction">
		<property name="accountService" ref="accountService" />
		<property name="trailsFileServerName">
			<value>${server.name.trails.file}</value>
		</property>
		<property name="trailsServerName">
			<value>${server.name.trails}</value>
		</property>
	</bean>

	<bean id="alertRedAgingAction" scope="prototype"
		class="com.ibm.asset.trails.action.AlertRedAgingAction">
		<property name="accountService" ref="accountService" />
		<property name="trailsFileServerName">
			<value>${server.name.trails.file}</value>
		</property>
		<property name="trailsServerName">
			<value>${server.name.trails}</value>
		</property>
	</bean>

	<bean id="alertReportAction" scope="prototype"
		class="com.ibm.asset.trails.action.AlertReportAction">
		<property name="accountService" ref="accountService" />
		<property name="trailsFileServerName">
			<value>${server.name.trails.file}</value>
		</property>
		<property name="trailsServerName">
			<value>${server.name.trails}</value>
		</property>
	</bean>

	<bean id="bravoServerName" class="com.ibm.asset.trails.action.AlertAssignment">
		<property name="bravoServerName">
			<value>${server.name.bravo}</value>
		</property>
	</bean>

	<bean id="accountAlertExpiredScan" scope="prototype"
		class="com.ibm.asset.trails.action.AlertAssignment" parent="bravoServerName">
		<property name="alertService" ref="alertExpiredScanService" />
		<property name="accountService" ref="accountService" />
	</bean>
	
	<bean id="accountAlertHardwareCfgData" scope="prototype"
		class="com.ibm.asset.trails.action.AlertAssignment" parent="bravoServerName">
		<property name="alertService" ref="alertHardwareCfgDataService" />
		<property name="accountService" ref="accountService" />
	</bean>
	
	<bean id="accountAlertWithDefinedContractScope" scope="prototype"
		class="com.ibm.asset.trails.action.AlertAssignment" parent="bravoServerName">
		<property name="alertService" ref="alertWithDefinedContractScopeService" />
		<property name="accountService" ref="accountService" />
	</bean>
	
	<bean id="accountAlertIbmSwInstancesReviewed" scope="prototype"
		class="com.ibm.asset.trails.action.AlertAssignment" parent="bravoServerName">
		<property name="alertService" ref="alertIbmSwInstancesReviewedService" />
		<property name="accountService" ref="accountService" />
	</bean>
	
	<bean id="accountAlertPriorityIsvSwInstancesReviewed" scope="prototype"
		class="com.ibm.asset.trails.action.AlertAssignment" parent="bravoServerName">
		<property name="alertService" ref="alertPriorityIsvSwInstancesReviewedService" />
		<property name="accountService" ref="accountService" />
	</bean>

	<bean id="accountAlertIsvSwInstancesReviewed" scope="prototype"
		class="com.ibm.asset.trails.action.AlertAssignment" parent="bravoServerName">
		<property name="alertService" ref="alertIsvSwInstancesReviewedService" />
		<property name="accountService" ref="accountService" />
	</bean>

	<bean id="accountAlertHardware" scope="prototype"
		class="com.ibm.asset.trails.action.AlertAssignment" parent="bravoServerName">
		<property name="alertService" ref="alertHardwareService" />
		<property name="accountService" ref="accountService" />
	</bean>

	<bean id="accountAlertHardwareLpar" scope="prototype"
		class="com.ibm.asset.trails.action.AlertAssignment" parent="bravoServerName">
		<property name="alertService" ref="alertHardwareLparService" />
		<property name="accountService" ref="accountService" />
	</bean>

	<bean id="accountAlertSoftwareLpar" scope="prototype"
		class="com.ibm.asset.trails.action.AlertAssignment" parent="bravoServerName">
		<property name="alertService" ref="alertSoftwareLparService" />
		<property name="accountService" ref="accountService" />
	</bean>

	<bean id="accountAlertUnlicensedIbmSw" scope="prototype"
		class="com.ibm.asset.trails.action.AlertAssignment">
		<property name="alertService" ref="alertUnlicensedIbmSwService" />
		<property name="accountService" ref="accountService" />
	</bean>

	<bean id="accountAlertUnlicensedIsvSw" scope="prototype"
		class="com.ibm.asset.trails.action.AlertAssignment">
		<property name="alertService" ref="alertUnlicensedIsvSwService" />
		<property name="accountService" ref="accountService" />
	</bean>

	<bean id="accountAlertExpiredMaint" scope="prototype"
		class="com.ibm.asset.trails.action.AlertAssignment">
		<property name="alertService" ref="alertExpiredMaintService" />
		<property name="accountService" ref="accountService" />
	</bean>

	<bean id="alertExpiredScanHistory" scope="prototype"
		class="com.ibm.asset.trails.action.AlertHistory">
		<property name="alertService" ref="alertExpiredScanService" />
	</bean>

	<bean id="alertHardwareHistory" scope="prototype"
		class="com.ibm.asset.trails.action.AlertHistory">
		<property name="alertService" ref="alertHardwareService" />
	</bean>
	
	<bean id="alertHardwareCfgDataHistory" scope="prototype"
		class="com.ibm.asset.trails.action.AlertHistory">
		<property name="alertService" ref="alertHardwareCfgDataService" />
	</bean>

	<bean id="alertHardwareLparHistory" scope="prototype"
		class="com.ibm.asset.trails.action.AlertHistory">
		<property name="alertService" ref="alertHardwareLparService" />
	</bean>

	<bean id="alertSoftwareLparHistory" scope="prototype"
		class="com.ibm.asset.trails.action.AlertHistory">
		<property name="alertService" ref="alertSoftwareLparService" />
	</bean>

	<bean id="alertUnlicensedIbmSwHistory" scope="prototype"
		class="com.ibm.asset.trails.action.AlertHistory">
		<property name="alertService" ref="alertUnlicensedIbmSwService" />
	</bean>

	<bean id="alertUnlicensedIsvSwHistory" scope="prototype"
		class="com.ibm.asset.trails.action.AlertHistory">
		<property name="alertService" ref="alertUnlicensedIsvSwService" />
	</bean>

	<bean id="alertExpiredMaintHistory" scope="prototype"
		class="com.ibm.asset.trails.action.AlertHistory">
		<property name="alertService" ref="alertExpiredMaintService" />
	</bean>

	<bean id="reconSettings" scope="prototype"
		class="com.ibm.asset.trails.action.ReconSettingAction">
		<property name="reconWorkspaceService" ref="reconWorkspaceService" />
		<property name="accountService" ref="accountService" />
	</bean>

	<bean id="showWorkspace" scope="prototype"
		class="com.ibm.asset.trails.action.ShowWorkspace">
		<property name="reconWorkspaceService" ref="reconWorkspaceService" />
		<property name="accountService" ref="accountService" />
		<property name="bravoServerName">
			<value>${server.name.bravo}</value>
		</property>
	</bean>

	<bean id="showQuestion" scope="prototype"
		class="com.ibm.asset.trails.action.ShowQuestion">
		<property name="reconWorkspaceService" ref="reconWorkspaceService" />
		<property name="accountService" ref="accountService" />
	</bean>

	<bean id="showConfirmation" scope="prototype"
		class="com.ibm.asset.trails.action.ShowConfirmation">
		<property name="reconWorkspaceService" ref="reconWorkspaceService" />
		<property name="accountService" ref="accountService" />
	</bean>

	<bean id="applyManualRecon" scope="prototype"
		class="com.ibm.asset.trails.action.ApplyManualRecon">
		<property name="reconWorkspaceService" ref="reconWorkspaceService" />
		<property name="accountService" ref="accountService" />
		<property name="alertService" ref="alertUnlicensedIbmSwService" />
	</bean>

	<bean id="helpAction" scope="prototype" class="com.ibm.ea.common.help.HelpAction">
		<property name="gitHash">
			<value>${git_hash}</value>
		</property>
	</bean>

	<bean id="licenseAction" scope="prototype"
		class="com.ibm.asset.trails.action.LicenseAction">
		<property name="accountService" ref="accountService" />
	</bean>

	<bean id="reconcileAction" scope="prototype"
		class="com.ibm.asset.trails.action.ReconcileAction">
		<property name="reconWorkspaceService" ref="reconWorkspaceService" />
	</bean>

	<bean id="reportAction" scope="prototype"
		class="com.ibm.asset.trails.action.ReportAction">
		<property name="accountService" ref="accountService" />
	</bean>

	<bean id="scheduleFUploadAction" scope="prototype"
		class="com.ibm.asset.trails.action.ScheduleFUploadAction">
	</bean>

	<bean id="scheduleFAction" scope="prototype"
		class="com.ibm.asset.trails.action.ScheduleFAction">
	</bean>

	<bean id="pvuMappingAction" scope="prototype"
		class="com.ibm.asset.trails.action.PvuMappingAction">
		<property name="pvuService" ref="pvuService" />
	</bean>

	<bean id="pvuAjaxAction" scope="prototype"
		class="com.ibm.asset.trails.action.PvuAjaxAction">
		<property name="pvuService" ref="pvuService" />
	</bean>

	<bean id="alertCauseAction" scope="prototype"
		class="com.ibm.asset.trails.action.DataExceptionCauseAction">
		<property name="alertCauseService" ref="alertCauseService" />
		<property name="alertTypeService" ref="alertTypeService" />
		<property name="alertCauseResponsibilityService" ref="alertCauseResponsibilityService" />
		<property name="alertTypeCauseService" ref="alertTypeCauseService" />
	</bean>


	<!--exceptions configuration -->
	<bean id="alertSoftwareLparDao"
		class="com.ibm.asset.trails.dao.jpa.DataExceptionSoftwareLparDaoJpa" />

	<bean id="alertHardwareLparDao"
		class="com.ibm.asset.trails.dao.jpa.DataExceptionHardwareLparDaoJpa" />

	<bean id="alertHistoryDao" class="com.ibm.asset.trails.dao.jpa.DataExceptionHistoryDaoJpa" />

	<bean id="alertCauseDao" class="com.ibm.asset.trails.dao.jpa.DataExceptionCauseDaoJpa" />

	<bean id="alertSwlparService"
		class="com.ibm.asset.trails.service.impl.DataExceptionSoftwareLparServiceImpl">
		<property name="alertSoftwareLparDao" ref="alertSoftwareLparDao" />
		<property name="alertHistoryDao" ref="alertHistoryDao" />
	</bean>

	<bean id="alertHwlparService"
		class="com.ibm.asset.trails.service.impl.DataExceptionHardwareLparServiceImpl">
		<property name="alertHardwareLparDao" ref="alertHardwareLparDao" />
		<property name="alertHistoryDao" ref="alertHistoryDao" />
	</bean>

	<bean id="alertSwlparHistoryService"
		class="com.ibm.asset.trails.service.impl.DataExceptionHistoryServiceImpl">
		<property name="alertLparDao" ref="alertSoftwareLparDao" />
		<property name="alertHistoryDao" ref="alertHistoryDao" />
		<property name="lparType" value="swLpar" />
	</bean>

	<bean id="alertHwlparHistoryService"
		class="com.ibm.asset.trails.service.impl.DataExceptionHistoryServiceImpl">
		<property name="alertLparDao" ref="alertHardwareLparDao" />
		<property name="alertHistoryDao" ref="alertHistoryDao" />
		<property name="lparType" value="hwLpar" />
	</bean>

	<bean id="alertSwlparHistory" scope="prototype"
		class="com.ibm.asset.trails.action.AlertHistoryAction">
		<property name="historyService" ref="alertSwlparHistoryService" />
	</bean>

	<bean id="alertHwlparHistory" scope="prototype"
		class="com.ibm.asset.trails.action.AlertHistoryAction">
		<property name="historyService" ref="alertHwlparHistoryService" />
	</bean>

	<bean id="lparNULLTIMEExpAction" scope="prototype"
		class="com.ibm.asset.trails.action.SoftwareLparExpAction" parent="bravoServerName">
		<property name="accountService" ref="accountService" />
		<property name="softwareLparExpService" ref="alertSwlparService" />
		<property name="alertTypeCode" value="NULLTIME" />
	</bean>
	<bean id="lparNOOSExpAction" scope="prototype"
		class="com.ibm.asset.trails.action.SoftwareLparExpAction" parent="bravoServerName">
		<property name="accountService" ref="accountService" />
		<property name="softwareLparExpService" ref="alertSwlparService" />
		<property name="alertTypeCode" value="NOOS" />
	</bean>
	<bean id="lparNOSWExpAction" scope="prototype"
		class="com.ibm.asset.trails.action.SoftwareLparExpAction" parent="bravoServerName">
		<property name="accountService" ref="accountService" />
		<property name="softwareLparExpService" ref="alertSwlparService" />
		<property name="alertTypeCode" value="NOSW" />
	</bean>
	<bean id="lparNOLPExpAction" scope="prototype"
		class="com.ibm.asset.trails.action.SoftwareLparExpAction" parent="bravoServerName">
		<property name="accountService" ref="accountService" />
		<property name="softwareLparExpService" ref="alertSwlparService" />
		<property name="alertTypeCode" value="NOLP" />
	</bean>
	<bean id="lparNOCUSTExpAction" scope="prototype"
		class="com.ibm.asset.trails.action.SoftwareLparExpAction" parent="bravoServerName">
		<property name="accountService" ref="accountService" />
		<property name="softwareLparExpService" ref="alertSwlparService" />
		<property name="alertTypeCode" value="NOCUST" />
	</bean>

	<bean id="lparHWNPRCExpAction" scope="prototype"
		class="com.ibm.asset.trails.action.HardwareLparExpAction" parent="bravoServerName">
		<property name="accountService" ref="accountService" />
		<property name="hardwareLparExpService" ref="alertHwlparService" />
		<property name="alertTypeCode" value="HWNPRC" />
	</bean>
	<bean id="lparHWNCHPExpAction" scope="prototype"
		class="com.ibm.asset.trails.action.HardwareLparExpAction" parent="bravoServerName">
		<property name="accountService" ref="accountService" />
		<property name="hardwareLparExpService" ref="alertHwlparService" />
		<property name="alertTypeCode" value="HWNCHP" />
	</bean>
	<bean id="lparNPRCTYPExpAction" scope="prototype"
		class="com.ibm.asset.trails.action.HardwareLparExpAction" parent="bravoServerName">
		<property name="accountService" ref="accountService" />
		<property name="hardwareLparExpService" ref="alertHwlparService" />
		<property name="alertTypeCode" value="NPRCTYP" />
	</bean>
	<bean id="lparNCPMDLExpAction" scope="prototype"
		class="com.ibm.asset.trails.action.HardwareLparExpAction" parent="bravoServerName">
		<property name="accountService" ref="accountService" />
		<property name="hardwareLparExpService" ref="alertHwlparService" />
		<property name="alertTypeCode" value="NCPMDL" />
	</bean>

	<bean id="alertSwlparAjaxAction" scope="prototype"
		class="com.ibm.asset.trails.action.SoftwareLparAjaxAction" parent="bravoServerName">
		<property name="accountService" ref="accountService" />
		<property name="alertSoftwareLparService" ref="alertSwlparService" />
	</bean>

	<bean id="alertHwlparAjaxAction" scope="prototype"
		class="com.ibm.asset.trails.action.HardwareLparAjaxAction" parent="bravoServerName">
		<property name="accountService" ref="accountService" />
		<property name="alertHardwareLparService" ref="alertHwlparService" />
	</bean>

	<bean class="com.ibm.asset.trails.aspect.ReportStatisticLogAspect">
		<property name="dbdeterminativeService" ref="dbdeterminativeService" />
		<property name="reportLogPath">
			<value>${report.log.path}</value>
		</property>
	</bean>

	<bean class="com.ibm.asset.trails.aspect.DataExceptionHistoryAspect">
		<property name="historyService" ref="alertSwlparHistoryService" />
	</bean>

	<bean class="com.ibm.asset.trails.aspect.DataExceptionHistoryAspect">
		<property name="historyService" ref="alertHwlparHistoryService" />
	</bean>

	<bean id="accountAlertActionNew" class="com.ibm.asset.trails.action.AccountDataExceptionAction">
	</bean>

	<bean id="adminAction" class="com.ibm.asset.trails.action.AdminAction">
	</bean>

	<!--web services -->
	<import resource="applicationContext-ws.xml" />
</beans>
