<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<bean id="nonInstanceServiceEndpoint" class="com.ibm.asset.trails.ws.NonInstanceServiceEndpoint" />
	<bean id="priorityISVSoftwareServiceEndpoint"
		class="com.ibm.asset.trails.ws.PriorityISVSoftwareServiceEndpoint" />
	<bean id="alertHardwareCfgDataServiceEndpoint"
		class="com.ibm.asset.trails.ws.AlertHardwareCfgDataServiceEndpoint" />
	<bean id="pvuMappingServiceEndpoint" class="com.ibm.asset.trails.ws.PvuMappingServiceEndpoint" />
	<bean id="AdminCauseCodeServiceEndpoin" class="com.ibm.asset.trails.ws.AdminCauseCodeServiceEndpoin" />
	<bean id="alertWithDefinedContractScopeServiceEndpoint" class="com.ibm.asset.trails.ws.AlertWithDefinedContractScopeServiceEndpoint"/>
	<bean id="alertIbmSwInstancesReviewed" class="com.ibm.asset.trails.ws.AlertIbmSwInstancesReviewedServiceEndpoint" />
	<bean id="alertPriorityIsvSwInstancesReviewed" class="com.ibm.asset.trails.ws.AlertPriorityIsvSwInstancesReviewedServiceEndpoint" />
	<bean id="alertIsvSwInstancesReviewed" class="com.ibm.asset.trails.ws.AlertIsvSwInstancesReviewedServiceEndpoint" />
	<bean id="alertHardwareServiceEndpoint" class="com.ibm.asset.trails.ws.AlertHardwareServiceEndpoint" />
	<bean id="alertHardwarelparServiceEndpoint" class="com.ibm.asset.trails.ws.AlertHardwarelparServiceEndpoint" />
	<bean id="alertUnExpiredSWLpar" class="com.ibm.asset.trails.ws.AlertUnExpiredSWLparServiceEndpoint" />
	<bean id="alertSwLparWithHwLparServiceEndpoint" class="com.ibm.asset.trails.ws.AlertSwLparWithHwLparServiceEndpoint" />
	<bean id="dataExceptionServiceEndpoint" class="com.ibm.asset.trails.ws.DataExceptionServiceEndpoint" />
	    
	<bean id="hibernateMapper"
		class="com.ibm.asset.trails.ws.common.HibernateAwareObjectMapper"></bean>

	<jaxrs:server id="jax-rs-server" address="/">
		<jaxrs:serviceBeans>
			<ref bean="nonInstanceServiceEndpoint" />
			<ref bean="priorityISVSoftwareServiceEndpoint" />
			<ref bean="alertHardwareCfgDataServiceEndpoint" />
			<ref bean="pvuMappingServiceEndpoint" />
			<ref bean="AdminCauseCodeServiceEndpoin" />
			<ref bean="alertWithDefinedContractScopeServiceEndpoint"/>
			<ref bean="alertIbmSwInstancesReviewed" />
			<ref bean="alertPriorityIsvSwInstancesReviewed" />
			<ref bean="alertIsvSwInstancesReviewed" />
            <ref bean="alertHardwareServiceEndpoint" />
            <ref bean="alertHardwarelparServiceEndpoint" />
            <ref bean="alertUnExpiredSWLpar" />
            <ref bean="alertSwLparWithHwLparServiceEndpoint" />
             <ref bean="dataExceptionServiceEndpoint" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<bean id="jacksonProvider"
				class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider">
				<property name="mapper" ref="hibernateMapper" />
			</bean>
			<bean class="com.fasterxml.jackson.jaxrs.xml.JacksonJaxbXMLProvider" />
		</jaxrs:providers>
	</jaxrs:server>
</beans>
