@charset "utf-8";
/*-----------------------------------------------------
w3 general styles for tables
Used by: pages with tabular data
	(e.g. financials, machine specifications)
Note: Do not use tables to format nontabular data
	(e.g. margins, text paragraphs, lists)
-----------------------------------------------------*/

.sortable {
	padding: 0 0 1em 24px;
}

a.sortable {
	background:
		url(//w3-workplace.ibm.com/ui/v8/images/icon-link-sort-u-light.gif) 2px 4px
		no-repeat;
	color:white;
	text-decoration: none;
}

th.sortable.sorted.order2 a.sortable {
	background:
		url(//w3-workplace.ibm.com/ui/v8/images/icon-link-sort-d-light.gif) 2px 4px
		no-repeat;
}

th.sortable.sorted.order1 a.sortable {
	background:
		url(//w3-workplace.ibm.com/ui/v8/images/icon-link-sort-a-light.gif) 2px 4px
		no-repeat;
}
table tr.total {
	background: #dfb;
	color: #fff;
}

table tr.no td.scope {
	background-image:
		url(//w3-workplace.ibm.com/ui/v8/images/icon-system-status-na.gif);
	background-repeat: no-repeat;
	background-position: center;
}

table tr.yes td.scope {
	background-image:
		url(//w3-workplace.ibm.com/ui/v8/images/icon-system-status-ok.gif);
	background-repeat: no-repeat;
	background-position: center;
}

table tr.no td.catalogMatch {
	background-image:
		url(//w3-workplace.ibm.com/ui/v8/images/icon-system-status-na.gif);
	background-repeat: no-repeat;
	background-position: center;
}

table tr.yes td.catalogMatch {
	background-image:
		url(//w3-workplace.ibm.com/ui/v8/images/icon-system-status-ok.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.basic-table {width:100%;}
.basic-table td {padding:.3em 1em;}
.basic-table th {padding:.3em 1em; text-align:left; white-space:nowrap;}
