.invalid {
	color: red;
}
.inputshort {
  color: #000000;
  font-weight: normal;
  width: 150px;
}
.inputultrashort {
  color: #000000;
  font-weight: normal;
  width: 20px;
}
.input {
  color: #000000;
  font-weight: normal;
  width: 200px;
}
.inputshortish {
  color: #000000;
  font-weight: normal;
  width: 175px;
}
.inputlong {
  color: #000000;
  font-weight: normal;
  width: 300px;
}
.tablefont {
  font-size: 8pt;
}
.smallfont	{font-size:.8em;}
table td.gray {background:#ddd;}

table td.error {color: RED;}

div.indent {margin: 10px;}
div.indent#table-header {font-size:.12em;}

/*
.hrule-solid	{font-size:0; height:1px; line-height:0; padding:0; margin:0; background:#999;}
.hrule-dots	{font-size:.1em; height:1px; line-height:0; padding:0; margin:0; background:url(//w3.ibm.com/ui/v8/images/rule-h-gray-dots.gif) 0 50% repeat-x;}
.hrule-clear	{clear:both; font-size:.1em; height:1px; line-height:0; padding:0; margin:0; background:#fff url(//w3.ibm.com/ui/v8/images/rule-h-gray-dots.gif) 0 50% repeat-x;}
*/

.button-blue#smallbutton {font-size:.8em;}
.hrule-dots#action	{margin: 10px;}
	
.helpExpand {color:#000099; line-height:1.3em;
text-decoration:underline; cursor:pointer;cursor:hand;}

.helpButton {color:#000099; line-height:1.3em;
 cursor:pointer;cursor:hand;}

.search {font-size: 80%;}

/*.action {border:1px solid #ccc;}*/
.action p {margin:.5em;}

.callout {border:1px solid #ccc;}
.callout p {margin:.5em;}
.callout#contacts {background:#FFFFE0;}
.callout#reports {background:#EEEEEE;}

/* TABLE TABLE HEADER */
table.tableHeader {
margin: 8px;
width: 65%;
font-size: 90%;
}
table.tableHeader th {
vertical-align: bottom;
}
table.tableHeader td {
vertical-align: bottom;
font-size: 85%;
}

/* TABLE BRAVO */
table.bravo {
border: 1px solid #C0C0C0;
border-collapse: collapse;
margin: 10px;
margin-top: 0px;
width: 98%;
font-size: 80%;
}
table.bravo#small {width: 65%; }

table.bravo td {
padding: 3px;
color: #CC6600;
}

table.bravo td.status {
width:1%;
}

table.bravo th {
color: #000000;
padding: 3px;
border-bottom: 1px solid #000000;
text-align: left;
}

table.bravo th a, table.bravo th a:visited {
background-color: transparent;
color: #000000;
text-decoration: none;
}

table.bravo th a:hover {
background-color: transparent;
color: #000000 !important;
}

table.bravo th.order1 a {
background-image: url(../images/arrow_down.png) !important;
background-image: url(../images/icon-link-sort-d-dark.gif) !important;
}

table.bravo th.order2 a {
background-image: url(../images/arrow_up.png) !important;
background-image: url(../images/icon-link-sort-a-dark.gif) !important;
}

table.bravo th.sortable a {
background-image: url(../images/arrow_off.png);
background-image: url(../images/icon-link-sort-u-dark.gif);
}

table.bravo thead tr {
background-color: #FFCC00;
}
table.bravo thead tr th.green {background: #DDFFBB;}
table.bravo thead tr th.blue-light {background: #DDEEFF;}
table.bravo thead tr th.purple {background: #EEDDEE;}
table.bravo thead tr th.red {background: #EEDDEE;}
table.bravo thead tr th.grey {background: #DDDDDD;}
table.bravo thead tr th.yellow {background: #FFFFE0;}

table.bravo tr.even {
background: #EEEEEE;
border-top: 1px solid #C0C0C0;
color: #000000;
}

table.bravo tr.odd {
background: #FFFFFF;
border-top: 1px solid #C0C0C0;
color: #000000;
}

/* highlight table row onmouseover */
table.bravo tr.over {
background: #FFFF40;
border-bottom: 1px solid #C0C0C0;
border-top: 1px solid #C0C0C0;
color: #000000;
cursor: pointer;
cursor: hand; /* IE 5.5 non-compliant workaround */
}

table.bravo th.sorted {
background-color: #ffd;
color: #000000;
}

table.bravo thead th tr.sorted {
background-color: #ffd;
color: #000000;
color: white;
}

table.bravo th.sorted a, table.bravo th.sortable a {
background-position: right;
background-repeat: no-repeat;
display: block;
}

table.bravo th.sortable:hover {
background: #DDEEFF;
color: #008000;
}

table.bravo thead tr th.blue-med {
background: #6699CC;
color: white;
}

table.bravo thead tr th.blue-med-ralign {
background: #6699CC;
color: white;
text-align: right;
}

table.bravo th.blue-med.sortable a {
background-image: url(../images/icon-link-sort-u-light.gif);
color: white;
}
table.bravo th.blue-med.sortable:hover a {
background-image: url(../images/icon-link-sort-u-dark.gif);
color: #000000;
}
table.bravo th.blue-med.order1 a {
background-image: url(../images/icon-link-sort-d-light.gif) !important;
color: white;
}
table.bravo th.blue-med.order1:hover a {
background-image: url(../images/icon-link-sort-d-dark.gif) !important;
color: #000000;
}
table.bravo th.blue-med.order2 a {
background-image: url(../images/icon-link-sort-a-light.gif) !important;
color: white;
}
table.bravo th.blue-med.order2:hover a {
background-image: url(../images/icon-link-sort-a-dark.gif) !important;
color: #000000;
}
/* blue-med sortable sorted order1 */
/* blue-med sortable */