/*-----------------------------------------------------
w3 decoration styles for screen media
Used by: w3 web pages requiring short sidebars
$Id: interior-partial-sidebar.css,v 1.1 2008/02/04 18:12:18 alexmois Exp $
-----------------------------------------------------*/

#content-main {width:98% !important; border:0;}
* html #content-main	{\width:80% !important; w\idth:98% !important; border:0;}
#content-sidebar {display:none;}

#partial-sidebar {float:right; clear:both; padding:0 0 0 1em; margin:0 0 1em 1em;
border-left:1px solid #ccc; border-bottom:1px solid #ccc; background-color:#fff; width:28%;}
#partial-sidebar h2	{margin:0 0 .5em 0; font-weight:bold; font-size:84%; !important;}
#partial-sidebar h3	{margin:1em 0 .5em 0; font-weight:bold; font-size:84%;}
#partial-sidebar p {padding:.3em .5em 0 0; font-size:84%;}
#partial-sidebar ul {margin:0; padding:0; line-height:1.25em; padding-left:1.5em; margin-bottom:1em; font-size:84%;}
#partial-sidebar select	{margin:0; padding:0; width:70%; font-size:84%;}
#partial-sidebar .page-tools-side {margin:.5em 0 1em 0; padding-left:.5em; font-size:84%; background:url(http://w3.ibm.com/ui/v8/images/rule-h-gray-dots.gif) left bottom repeat-x;}
#partial-sidebar input.go {font-size:80%;}
#partial-sidebar .callout {background-color:#cef; height:1%;}
#partial-sidebar .img-style {float:left; padding:0 5px 10px 0;}
#partial-sidebar .audio-link-style {display:inline;}