--- Recon Engine ---
Summary: 
Total Records in full queue:$summaryFullQty.get(0).qty
Number of accounts in full queue:$summaryTotalCustomerQty.get(0).qty
Number of running Threads for reconEngineInventory: 
#include("files/threads-qty/reconInventoryThreadQty.txt")

Number of running Threads for reconEngineLicensing: 
#include("files/threads-qty/reconLicensingThreadQty.txt")


Priority 1: Special Accounts 
#foreach ($account in $specialAccounts)
$account.customerId,$account.accountNumber,$account.date,$account.qty,$account.customerName
#end
- Full volume for Priority 1: 
#foreach ($tableQty  in $p1FullVolumn)
$tableQty.tableName,$tableQty.qty
#end

Priority 2: Server Accounts 
- Total Number of Accounts:$queryP21.get(0).qty
- Total records in queue:$queryP22.get(0).qty
- First 10 Accounts in queue: 
#foreach ($account in $queryP23)
$account.customerId,$account.accountNumber,$account.date,$account.qty,$account.customerName
#end
- Full volume for Priority 2: 
#foreach ($tableQty  in $queryP24)
$tableQty.tableName,$tableQty.qty
#end

Priority 3: Workstation Accounts 
- Total Number of Accounts:$queryP31.get(0).qty
- Total records in queue:$queryP32.get(0).qty
- First 10 Accounts in queue:
#foreach ($account in $queryP33)
$account.customerId,$account.accountNumber,$account.date,$account.qty,$account.customerName
#end
- Full volume for Priority 3: 
#foreach ($tableQty  in $queryP34)
$tableQty.tableName,$tableQty.qty
#end

Priority 4: 999999 Account 
- Total records in queue:$query41.get(0).qty
- Full volume for Priority 4: 
#foreach ($tableQty  in $query42)
$tableQty.tableName,$tableQty.qty
#end

--- softwareToBravo ---
Total Records in full queue(phase 0):$query61.get(0).qty
Number of accounts in full queue(phase 0):$query62.get(0).qty
Number of running Threads:
#include("files/threads-qty/swToBravoThreadQty.txt")


Priority 1: Special Accounts
#foreach ($account in $query71)
$account.customerId,$account.accountNumber,$account.date,$account.qty,$account.customerName
#end
- Full volume for Priority 1:
Priority software lpar qty in staging:$query72.get(0).qty