<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Mapping files -->
		<mapping resource="com/ibm/tap/sigbank/filter/SoftwareFilter.hbm.xml" />
		<mapping resource="com/ibm/tap/sigbank/filter/SoftwareFilterH.hbm.xml" />
		<mapping resource="com/ibm/tap/sigbank/signature/SoftwareSignature.hbm.xml" />
		<mapping
			resource="com/ibm/tap/sigbank/signature/SoftwareSignatureHistoryReport.hbm.xml" />
		<mapping resource="com/ibm/tap/sigbank/signature/SoftwareSignatureH.hbm.xml" />
		<mapping
			resource="com/ibm/tap/sigbank/softwarecategory/SoftwareCategory.hbm.xml" />
		<mapping
			resource="com/ibm/tap/sigbank/softwarecategory/SoftwareCategoryH.hbm.xml" />
		<mapping class="com.ibm.asset.swkbt.domain.Product" />
		<mapping class="com.ibm.asset.swkbt.domain.SoftwareItem" />
		<mapping class="com.ibm.asset.swkbt.domain.Pid" />
		<mapping class="com.ibm.asset.swkbt.domain.KbDefinition" />
		<mapping class="com.ibm.asset.swkbt.domain.Manufacturer" />
		<mapping class="com.ibm.asset.swkbt.domain.Alias" />
		<mapping class="com.ibm.tap.sigbank.software.ProductInfo" />
		<mapping class="com.ibm.tap.sigbank.software.ProductInfoH" />
		<mapping class="com.ibm.asset.trails.domain.ReconSoftware" />
		<!-- Query definition files -->

		<mapping
			resource="com/ibm/tap/sigbank/softwarecategory/SoftwareCategory.hql.xml" />
		<mapping resource="com/ibm/tap/sigbank/signature/SoftwareSignature.hql.xml" />
		<mapping resource="com/ibm/tap/sigbank/filter/SoftwareFilter.hql.xml" />
		<mapping resource="com/ibm/tap/sigbank/framework/download/Download.hql.xml" />


	</session-factory>
</hibernate-configuration>


